.Reviews{
  &-title{
    margin: 15px;
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    margin: 0 auto;
  }
  &-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

}
@media (min-width: 900px) {
  .Reviews{
    &-btn{
      justify-content: center;
    }
  }
}