.App {
  text-align: center;
  color: black;
  //background-color: bisque;
  background: rgb(34,193,195);
  background: linear-gradient(61deg, rgba(34,193,195,1) 0%, rgba(60,45,253,1) 100%);
  min-width: 320px;
}

