.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 25px;


  &-name {
    text-align: center;


  }

  &-icon {
    fill: white;
    stroke: black;
    stroke-width: 10;
    cursor: pointer;
    transition: color 500ms ease;
    width: 20px;
    height: 20px;

  }

  &-icon.actives {
    fill: gold;
  }

  &-avatar {
    height: 150px;
    max-width: 200px;
    margin: 20px 0;

  }

  &-info {
    margin-bottom: 5px;
  }
}