.Menu{
display: inline-block;

  a{
    color: white;
    font-family: "Arial Black";
    font-size: 20px;
    text-decoration: none;
    margin-right: 25px;
  }
  a:hover{
    color: cadetblue;
  }

}
.active{
  border-bottom: 1px solid black;
}