.Pagination{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
 &-item{
   list-style-type: none;


   a{
     text-decoration: none;
     color: black;

   }

  }
}
